{% extends 'diary/base.html' %}

{% block content %}
<h1>{{ day.title }}</h1>
<form class="form" action="" method="POST">
    <table class="table">
        <tr>
            <th>{{ form.title.label }}</th>
            <td>{{ form.title }}</td>
        </tr>
        <tr>
            <th>{{ form.text.label }}</th>
            <td>{{ form.text }}</td>
        </tr>
        <tr>
            <th>{{ form.date.label }}</th>
            <td>{{ form.date }}</td>
        </tr>
    </table>
    <!-- {{ form.as_table }} -->
    <button class="btn btn-primary" type="submit">送信</button>
    {% csrf_token %}
</form>
{% endblock %}
