{% extends 'blog/base.html' %}

{% block content %}
<h2>Posts</h2>
{% for post in post_list %}
    <div class="card mb-3">
        <h2 class="card-header bg-dark text-white">{{ post.title }}</h2>
        <div class="card-body">
            <div>
                <span>{{ post.created_at }}</span>
                <span class="badge badge-light ml-3">{{post.category}}</span>
            </div>
            <a href="{% url 'blog:detail' post.pk %}" class="btn btn-dark">続きを読む</a>
        </div>
    </div>
{% endfor %}

{% include 'blog/page.html'%}
{% endblock %}